.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.invitation {
  background-color: rgba(209, 169, 210, 0.8); /* Add opacity to make text readable */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.invitation:hover {
  transform: rotateY(-60deg);
}

h1, h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}
